.loading-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .loading-wrapper {
    position: relative;
    width: 480px;
    height: 30px;
    margin-bottom: 10px;
    .loading-bg {
      height: 100%;
      border-radius: 15px;
      background-color: rgba(0, 0, 0, 0.6);
    }
    .loaded {
      position: absolute;
      top: 0;
      width: 0%;
      height: 100%;
      border-radius: 15px;
      background-color: red;
    }
  }
  .progress {
    font-size: 40px;
    font-style: italic;
  }
  &.hide {
    display: none;
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
  &.hide {
    display: none;
  }
}

.swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .element-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .element-2 {
    position: absolute;
    width: 900px;
    height: 1240px;
    background-image: url('../../assets/images/bg1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .element-3 {
    position: absolute;
    left: -60px;
    width: 825px;
    height: 1104px;
    background-image: url('../../assets/images/bg2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .element-4 {
    position: absolute;
    width: 562px;
    height: 1050px;
    opacity: 0.28;
    div {
      width: 100%;
      height: 100%;
      background-image: url('../../assets/images/bg3.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  .title {
    margin-bottom: 60px;
    background-color: #fff;
    border-radius: 36px;
    width: 400px;
    height: 75px;
    color: #333;
    font-weight: bold;
    font-size: 42px;
    overflow-wrap: break-word;
    // white-space: pre-wrap;
    line-height: 1.8;
  }
  .sub-title {
    width: 480px;
    color: #000;
    font-weight: bold;
    font-size: 32px;
    overflow-wrap: break-word;
    // white-space: pre-wrap;
    line-height: 1.8;
    font-style: italic;
    text-align: left;
  }
  .info {
    width: 480px;
    color: #000;
    text-align: left;
    line-height: 1.8;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    font-size: 28px;
    span {
      display: inline-block;
    }
    .indent {
      text-indent: 2em;
    }
  }
  .bottom {
    margin-top: 80px;
    width: 500px;
    height: 170px;
    background-image: url('../../assets/images/intro.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@keyframes expandOpen {
  0% {
    opacity: 0;
    transform: scale(1.8) translateZ(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.2) translateZ(0);
  }
  80% {
    transform: scale(1.5) translateZ(0);
  }
  100% {
    transform: scale(1.3) translateZ(0);
  }
}
.animate__expandOpen {
  animation-name: expandOpen
}

@keyframes arrowing {
  0% {
    transform: translateY(-5px);
    opacity: 0.8;
  }
  50% {
    transform: translateY(10px);
    opacity: 1;
  }
  100% {
    transform: translateY(-5px);
    opacity: 0.8;
  }
}
.arrow {
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -30px;
  width: 60px;
  height: 36px;
  z-index: 998;
  background-image: url('../../assets/images/arrow.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  animation-name: arrowing;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes rotateRound {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.music-btn {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 36px;
  top: 36px;
  opacity: 1;
  display: block;
  z-index: 998;
  transform-origin: center center;
  animation: 5s linear 0s infinite normal forwards running rotateRound;
}
.runAnimation {
  animation-play-state: running !important;
}
.stopAnimation {
  animation-play-state: paused !important;
}
